.header {
    position: relative;
    z-index: 0;
    height: 100vh;
    background: url('../img/bground-main.jpg') center top/cover no-repeat;
    padding-top: 150px;
    &_overlay {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color:rgba(0,0,0,.2);
    }
    &__title {
        margin-top: 9px;
    }
    &__buttons {
        position: absolute;
        margin-top: 25px;
        width: 290px;
        display: flex;
        justify-content: space-between;
    }
}